In [3]:
# Import libreries fot data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Load the dataset
df = pd.read_csv('clean_salary_data.csv')

# Show the first few rows of the dataset
df.head()

,work_year,job_title,salary_in_usd,employee_residence,company_location,job_category,experience_level_desc,employment_type_desc,work_setting,company_size_desc,...,economic_period,adjusted_salary,salary_to_experience_ratio,normalized_salary,total_compensation_estimate,work_life_balance,automation_risk,company_sector,salary_bracket,salary_competitiveness
0,2023,Principal Data Scientist,85847,ES,ES,Senior Data Scientist,Senior,Full-time,Remote,Large,...,Post-Pandemic,114462.666667,28615.666667,55744.805195,103016.4,3.0,3.5,Services,Low,Below Average
1,2023,ML Engineer,30000,US,US,ML Engineer,Mid-Level,Contract,Remote,Small,...,Post-Pandemic,30000.000000,15000.000000,30000.000000,36000.0,3.5,3.0,Startup/Tech,Low,Below Average
2,2023,ML Engineer,25500,US,US,ML Engineer,Mid-Level,Contract,Remote,Small,...,Post-Pandemic,25500.000000,12750.000000,25500.000000,30600.0,3.5,3.0,Startup/Tech,Low,Below Average
3,2023,Data Scientist,175000,CA,CA,Data Scientist,Senior,Full-time,Remote,Medium,...,Post-Pandemic,184210.526316,58333.333333,125000.000000,213500.0,3.0,4.0,Mixed,Medium-High,Competitive
4,2023,Data Scientist,120000,CA,CA,Data Scientist,Senior,Full-time,Remote,Medium,...,Post-Pandemic,126315.789474,40000.000000,85714.285714,146400.0,3.0,4.0,Mixed,Medium-Low,Below Average